* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(252, 247, 241);
}

.jumbotron {
  background-color: #db6868;
  color: antiquewhite;
  text-align: center;
  height: 1vh;
  padding-top: 10px;
  margin: 2px;
}

h3 {
  font-weight: bold;
}

.current-uv{
    background-color: red;
    color: antiquewhite;
    padding: 10px 30px ;
    border-radius: 7px;
    margin-left: 5px;
    
}

.FT{
  background-color: rgb(35, 150, 245);
  color: antiquewhite;
  border-radius: 7px
}

.forecast {
  font-size: 0.9em;
}

span {
  font-size: 1em;
}

li:hover {
  background-color: aliceblue;
  text-decoration: underline;
}
