* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(252, 247, 241);
}

.jumbotron {
  background-color: #db6868;
  color: antiquewhite;
  text-align: center;
  height: 1vh;
  padding-top: 10px;
  margin: 2px;
}

h3 {
  font-weight: bold;
}

.forecast {
  font-size: 1em;
}

span {
  font-size: 1em;
}

li:hover {
  background-color: aliceblue;
  text-decoration: underline;
}
